.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 1px solid grey;
  border-radius: 6px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

label,
.title {
  width: 150px;
}

select,
option,
textarea,
input[type='text'],
input[type='number'] {
  width: 300px;
  padding: 5px;
}

.result textarea {
  margin-top: 20px;
  width: 95%;
  background-color: hsl(0, 1%, 77%);
  padding: 10px;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 6px;
}

.btn-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 8px 25px;
  border-radius: 6px;
  border: none;
  transition: scale 0.3 ease-in-out;
}

.btn:active {
  scale: 0.98;
}

.btn-submit {
  background-color: hsl(224, 42%, 37%);
  color: #fff;
}
.btn-reset {
  background-color: hsl(0, 1%, 77%);
  color: #000;
}

.btn-submit:disabled {
  background-color: hsla(224, 42%, 37%, 0.6);
  scale: none;
}

.btn-reset:disabled {
  background-color: hsla(0, 1%, 77%, 0.5);
  color: hsl(0, 1%, 77%);
  scale: none;
}

.error {
  color: red;
  position: absolute;
  font-size: 12px;
  bottom: -15px;
  right: 0;
}
